/**
CSS POUR LE HEADER
**/

header {
    background-image: url('pictures/mobile/cat_wallpaper_1.jpg');
    background-position: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

body>header>h3 {
    font-size: 2.6rem;
    position: absolute;
    left: 10%;
    font-family: 'Gabriola';
}

nav>div {
    background-color: rgba(218, 218, 218, 0.233);
}

body>header>.navbar {
    background: rgba(187, 187, 187, 0.39);
}

.navbar-brand {
    font-size: xx-large;
}

h4 {
    font-family: 'Gabriola';
    color: rgb(0, 0, 0);
    font-size: 2.8rem;
    display: flex;
    justify-content: center;
}

footer {
    font-family: 'Gabriola';
    color: rgb(73, 73, 73);
    font-size: xx-large;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title {
    font-family: 'Gabriola';
    color: rgb(73, 73, 73);
    font-size: xx-large;
}

.btn {
    width: 260px;
    max-width: 300px;
    color: rgb(73, 73, 73);
    font-family: 'Gabriola';
    font-size: xx-large;
    margin-bottom: 14px;
}

#carouselExampleControlsNoTouching {
    width: 100%;
}

#carouselExampleIndicators {
    width: 100%;
}

.picture_size {
    object-fit: cover;
    height: 40vh;
    width: 100%;
}

.form_wallpaper {
    position: absolute;
    filter: blur(2px);
    object-fit: cover;
    height: 95vh;
    width: 100vw;
}

.form_container {
    height: 90vh;
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_title {
    text-shadow: 4px 8px 14px #616161;
}


/**
Mode MOBILE
**/

@media screen and (max-width: 1100px) {
    /**
HEADER
**/
    body>header {
        font-family: 'Gabriola';
        background-image: url("pictures/mobile/cat_wallpaper_1.jpg");
    }
    body>header>h3 {
        top: 85%;
    }
}


/** style css de la page liste des chats * */

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    margin: 2%;
    flex-basis: 16%;
    min-width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cat_picture {
    object-fit: cover;
    height: 200px;
    width: 100%;
}

.product-image img {
    max-width: 100%;
}

.product-info {
    margin-top: auto;
}

select,
input,
a {
    font-family: 'Gabriola';
    font-size: 1.6rem !important;
}

@media (max-width: 920px) {
    .product-card {
        flex: 1 21%;
    }
}

@media (max-width: 600px) {
    .product-card {
        flex: 1 46%;
    }
}

@media (max-width: 480px) {
    .product-filter {
        flex-direction: column;
    }
    .sort {
        align-self: flex-start;
    }
}

@media screen and (min-width: 1100px) {
    /**
  HEADER
  **/
    body>header {
        background-image: url("pictures/desktop/cat_wallpaper_1.jpg");
    }
    body>header>h3 {
        font-size: 2.6rem;
        top: 90%;
        right: 18%;
    }
}