/**
mode MOBILE
**/


/**
CSS POUR LE HEADER
**/

header {
    background-image: url('pictures/mobile/cat_wallpaper_1.jpg');
    background-position: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

nav>div {
    background-color: rgba(218, 218, 218, 0.233);
}

body>header>.navbar {
    background: rgba(187, 187, 187, 0.39);
}

.navbar-brand {
    font-size: xx-large;
}

h4 {
    font-family: 'Gabriola';
    padding-left: 100px;
    color: rgb(0, 0, 0);
    font-size: xx-large;
}

footer {
    font-family: 'Gabriola';
    color: rgb(73, 73, 73);
    font-size: xx-large;
}

.card-title {
    font-family: 'Gabriola';
    color: rgb(73, 73, 73);
    font-size: xx-large;
}

.btn {
    width: 100%;
    max-width: 300px;
    color: rgb(73, 73, 73);
    font-family: 'Gabriola';
    font-size: xx-large;
}


/**
Mode MOBILE
**/

@media screen and (max-width: 1100px) {
    /**
HEADER
**/
    body>header {
        font-family: 'Gabriola';
        background-image: url("pictures/mobile/cat_wallpaper_1.jpg");
    }
}


/** style css de la page liste des chats * */

.products {
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    margin: 2%;
    flex-basis: 16%;
}

.product-image img {
    max-width: 100%;
}

.product-info {
    margin-top: auto;
}

select,
input,
a {
    font-family: 'Gabriola';
    font-size: 1.6rem !important;
}

@media (max-width: 920px) {
    .product-card {
        flex: 1 21%;
    }
}

@media (max-width: 600px) {
    .product-card {
        flex: 1 46%;
    }
}

@media (max-width: 480px) {
    .product-filter {
        flex-direction: column;
    }
    .sort {
        align-self: flex-start;
    }
}

@media screen and (min-width: 1100px) {
    /**
  HEADER
  **/
    body>header {
        background-image: url("pictures/desktop/cat_wallpaper_1.jpg");
    }
    body>header>h3 {
        padding-right: 200px;
        padding-top: 400px;
        font-size: xx-large;
    }
    #carouselExampleControlsNoTouching {
        width: 30%;
    }
    #carouselExampleIndicators {
        width: 30%;
    }
}